@model IEnumerable<nmct.ssa.labo1.oef2.Models.Competition>
                                        
@{ ViewBag.Title = "Index"; }

<h2>Competities</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>Country</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Country.Name)</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.Id })</td>
        </tr>
    }
</table>
